grpcio==1.66.1
grpcio-tools==1.66.1
protobuf==5.28.0
uvloop==0.20.0
elasticsearch[async]==8.15.0
ruff==0.6.3
pytest==7.4.4
pytest-cov==4.1.0
pytest-asyncio==0.23.8
pytest-mock==3.14.0
pytest-randomly==3.15.0
pytest-fail-slow==0.6.0
pyright==1.1.378
mypy==1.11.2
types-protobuf==5.27.0.20240626