grpcio==1.71.0
grpcio-tools==1.71.0
protobuf==5.29.0
uvloop==0.21.0
elasticsearch[async]==9.0.0
ecs-logging==2.2.0
types-protobuf==5.28.3.20241203

# dev
ruff==0.8.6
pytest==8.3.5
pytest-cov==6.1.1
pytest-asyncio==0.26.0
pytest-mock==3.14.0
pytest-randomly==3.16.0
pytest-fail-slow==0.6.0
mypy==1.15.0
pip-licenses==5.0.0
hatch==1.14.1
twine==6.1.0
