grpcio==1.74.0
grpcio-tools==1.71.0
protobuf==5.29.0
uvloop==0.21.0
elasticsearch[async]==9.1.0
ecs-logging==2.2.0
types-protobuf==5.28.3.20241203

# dev
ruff==0.12.12
pytest==8.4.2
pytest-cov==6.3.0
pytest-asyncio==1.2.0
pytest-mock==3.15.1
pytest-randomly==3.16.0
pytest-fail-slow==0.6.0
mypy==1.18.2
pip-licenses==5.0.0
hatch==1.14.1
twine==6.1.0
